<a href="https://colab.research.google.com/github/i-nitishh/Deep-Learning/blob/Customer_Churn_Modelling(ANN)/Customer_Churn_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Complete-Deep-Learning/master/ANN/Churn_Modelling.csv')

In [ ]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
import tensorflow.keras as keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

In [ ]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
x = df[df.columns[3:-2]]
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember
0,619,France,Female,42,2,0.00,1,1,1
1,608,Spain,Female,41,1,83807.86,1,0,1
2,502,France,Female,42,8,159660.80,3,1,0
3,699,France,Female,39,1,0.00,2,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1
...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0
9996,516,France,Male,35,10,57369.61,1,1,1
9997,709,France,Female,36,7,0.00,1,0,1
9998,772,Germany,Male,42,3,75075.31,2,1,0
9999,792,France,Female,28,4,130142.79,1,1,0

In [ ]:
y = df[df.columns[-1]]
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [ ]:
df2 =pd.get_dummies(x['Geography'])

In [ ]:
x = pd.concat([x,df2],axis=1)
x = x.drop(['Geography'],axis =1)

In [ ]:
x.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,France,Germany,Spain
0,619,Female,42,2,0.00,1,1,1,1,0,0
1,608,Female,41,1,83807.86,1,0,1,0,0,1
2,502,Female,42,8,159660.80,3,1,0,1,0,0
3,699,Female,39,1,0.00,2,0,0,1,0,0
4,850,Female,43,2,125510.82,1,1,1,0,0,1

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()
x['Gender'] = le.fit_transform(x[['Gender']])

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
x

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,France,Germany,Spain
0,619,0,42,2,0.00,1,1,1,1,0,0
1,608,0,41,1,83807.86,1,0,1,0,0,1
2,502,0,42,8,159660.80,3,1,0,1,0,0
3,699,0,39,1,0.00,2,0,0,1,0,0
4,850,0,43,2,125510.82,1,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,1,0,0
9996,516,1,35,10,57369.61,1,1,1,1,0,0
9997,709,0,36,7,0.00,1,0,1,1,0,0
9998,772,1,42,3,75075.31,2,1,0,0,1,0
9999,792,0,28,4,130142.79,1,1,0,1,0,0

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
se = StandardScaler()
x = se.fit_transform(x)

In [ ]:
x = pd.DataFrame(x)

In [ ]:
x

,0,1,2,3,4,5,6,7,8,9,10
0,-0.326221,-1.095988,0.293517,-1.041760,-1.225848,-0.911583,0.646092,0.970243,0.997204,-0.578736,-0.573809
1,-0.440036,-1.095988,0.198164,-1.387538,0.117350,-0.911583,-1.547768,0.970243,-1.002804,-0.578736,1.742740
2,-1.536794,-1.095988,0.293517,1.032908,1.333053,2.527057,0.646092,-1.030670,0.997204,-0.578736,-0.573809
3,0.501521,-1.095988,0.007457,-1.387538,-1.225848,0.807737,-1.547768,-1.030670,0.997204,-0.578736,-0.573809
4,2.063884,-1.095988,0.388871,-1.041760,0.785728,-0.911583,0.646092,0.970243,-1.002804,-0.578736,1.742740
...,...,...,...,...,...,...,...,...,...,...,...
9995,1.246488,0.912419,0.007457,-0.004426,-1.225848,0.807737,0.646092,-1.030670,0.997204,-0.578736,-0.573809
9996,-1.391939,0.912419,-0.373958,1.724464,-0.306379,-0.911583,0.646092,0.970243,0.997204,-0.578736,-0.573809
9997,0.604988,-1.095988,-0.278604,0.687130,-1.225848,-0.911583,-1.547768,0.970243,0.997204,-0.578736,-0.573809
9998,1.256835,0.912419,0.293517,-0.695982,-0.022608,0.807737,0.646092,-1.030670,-1.002804,1.727904,-0.573809
9999,1.463771,-1.095988,-1.041433,-0.350204,0.859965,-0.911583,0.646092,-1.030670,0.997204,-0.578736,-0.573809

In [ ]:
x

,0,1,2,3,4,5,6,7,8,9,10
0,-0.326221,-1.095988,0.293517,-1.041760,-1.225848,-0.911583,0.646092,0.970243,0.997204,-0.578736,-0.573809
1,-0.440036,-1.095988,0.198164,-1.387538,0.117350,-0.911583,-1.547768,0.970243,-1.002804,-0.578736,1.742740
2,-1.536794,-1.095988,0.293517,1.032908,1.333053,2.527057,0.646092,-1.030670,0.997204,-0.578736,-0.573809
3,0.501521,-1.095988,0.007457,-1.387538,-1.225848,0.807737,-1.547768,-1.030670,0.997204,-0.578736,-0.573809
4,2.063884,-1.095988,0.388871,-1.041760,0.785728,-0.911583,0.646092,0.970243,-1.002804,-0.578736,1.742740
...,...,...,...,...,...,...,...,...,...,...,...
9995,1.246488,0.912419,0.007457,-0.004426,-1.225848,0.807737,0.646092,-1.030670,0.997204,-0.578736,-0.573809
9996,-1.391939,0.912419,-0.373958,1.724464,-0.306379,-0.911583,0.646092,0.970243,0.997204,-0.578736,-0.573809
9997,0.604988,-1.095988,-0.278604,0.687130,-1.225848,-0.911583,-1.547768,0.970243,0.997204,-0.578736,-0.573809
9998,1.256835,0.912419,0.293517,-0.695982,-0.022608,0.807737,0.646092,-1.030670,-1.002804,1.727904,-0.573809
9999,1.463771,-1.095988,-1.041433,-0.350204,0.859965,-0.911583,0.646092,-1.030670,0.997204,-0.578736,-0.573809

In [ ]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state =0)

In [ ]:
model = Sequential()

In [ ]:
model.add(Dense(units = 10 ,activation = 'relu' , input_shape = (11,) ,kernel_initializer = 'he_uniform'))
model.add(Dropout(0.2))
model.add(Dense(units = 16 ,activation = 'relu' ,kernel_initializer = 'he_uniform'))
model.add(Dropout(0.1))
model.add(Dense(units = 1 ,activation = 'sigmoid' ,kernel_initializer = 'glorot_uniform'))

In [ ]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 10)                120

 dropout_7 (Dropout)         (None, 10)                0

 dense_9 (Dense)             (None, 16)                176

 dropout_8 (Dropout)         (None, 16)                0

 dense_10 (Dense)            (None, 1)                 17

=================================================================
Total params: 313
Trainable params: 313
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(optimizer = 'adam' , loss = 'binary_crossentropy', metrics =['accuracy'])

In [ ]:
model.fit(x_train,y_train , validation_split =0.3 ,batch_size =10 ,epochs = 100)

Epoch 1/100
560/560 [==============================] - 2s 4ms/step - loss: 0.4181 - accuracy: 0.8170 - val_loss: 0.4175 - val_accuracy: 0.8200
Epoch 2/100
560/560 [==============================] - 3s 5ms/step - loss: 0.4178 - accuracy: 0.8216 - val_loss: 0.4174 - val_accuracy: 0.8221
Epoch 3/100
560/560 [==============================] - 2s 4ms/step - loss: 0.4165 - accuracy: 0.8157 - val_loss: 0.4162 - val_accuracy: 0.8221
Epoch 4/100
560/560 [==============================] - 3s 5ms/step - loss: 0.4163 - accuracy: 0.8180 - val_loss: 0.4159 - val_accuracy: 0.8200
Epoch 5/100
560/560 [==============================] - 2s 4ms/step - loss: 0.4164 - accuracy: 0.8204 - val_loss: 0.4184 - val_accuracy: 0.8192
Epoch 6/100
560/560 [==============================] - 2s 4ms/step - loss: 0.4133 - accuracy: 0.8175 - val_loss: 0.4157 - val_accuracy: 0.8200
Epoch 7/100
560/560 [==============================] - 2s 4ms/step - loss: 0.4105 - accuracy: 0.8221 - val_loss: 0.4145 - val_accuracy: 0.8213
Epoch 8/100
560/560 [==============================] - 2s 4ms/step - loss: 0.4069 - accuracy: 0.8263 - val_loss: 0.4124 - val_accuracy: 0.8242
Epoch 9/100
560/560 [==============================] - 2s 4ms/step - loss: 0.4076 - accuracy: 0.8307 - val_loss: 0.4115 - val_accuracy: 0.8258
Epoch 10/100
560/560 [==============================] - 2s 4ms/step - loss: 0.4055 - accuracy: 0.8345 - val_loss: 0.4086 - val_accuracy: 0.8258
Epoch 11/100
560/560 [==============================] - 2s 4ms/step - loss: 0.4049 - accuracy: 0.8341 - val_loss: 0.4044 - val_accuracy: 0.8321
Epoch 12/100
560/560 [==============================] - 3s 5ms/step - loss: 0.3974 - accuracy: 0.8389 - val_loss: 0.4010 - val_accuracy: 0.8325
Epoch 13/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3894 - accuracy: 0.8464 - val_loss: 0.3913 - val_accuracy: 0.8408
Epoch 14/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3866 - accuracy: 0.8430 - val_loss: 0.3813 - val_accuracy: 0.8433
Epoch 15/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3804 - accuracy: 0.8466 - val_loss: 0.3781 - val_accuracy: 0.8479
Epoch 16/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3792 - accuracy: 0.8487 - val_loss: 0.3726 - val_accuracy: 0.8446
Epoch 17/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3744 - accuracy: 0.8514 - val_loss: 0.3719 - val_accuracy: 0.8487
Epoch 18/100
560/560 [==============================] - 3s 5ms/step - loss: 0.3666 - accuracy: 0.8543 - val_loss: 0.3691 - val_accuracy: 0.8496
Epoch 19/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3742 - accuracy: 0.8512 - val_loss: 0.3661 - val_accuracy: 0.8512
Epoch 20/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3658 - accuracy: 0.8564 - val_loss: 0.3663 - val_accuracy: 0.8529
Epoch 21/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3690 - accuracy: 0.8571 - val_loss: 0.3653 - val_accuracy: 0.8504
Epoch 22/100
560/560 [==============================] - 3s 5ms/step - loss: 0.3671 - accuracy: 0.8536 - val_loss: 0.3640 - val_accuracy: 0.8487
Epoch 23/100
560/560 [==============================] - 3s 6ms/step - loss: 0.3661 - accuracy: 0.8557 - val_loss: 0.3629 - val_accuracy: 0.8533
Epoch 24/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3635 - accuracy: 0.8584 - val_loss: 0.3610 - val_accuracy: 0.8537
Epoch 25/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3623 - accuracy: 0.8579 - val_loss: 0.3618 - val_accuracy: 0.8500
Epoch 26/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3641 - accuracy: 0.8546 - val_loss: 0.3631 - val_accuracy: 0.8517
Epoch 27/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3719 - accuracy: 0.8512 - val_loss: 0.3639 - val_accuracy: 0.8542
Epoch 28/100
560/560 [==============================] - 3s 5ms/step - loss: 0.3651 - accuracy: 0.8545 - val_loss: 0.3626 - val_accuracy: 0.8550
Epoch 29/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3661 - accuracy: 0.8561 - val_loss: 0.3621 - val_accuracy: 0.8525
Epoch 30/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3646 - accuracy: 0.8554 - val_loss: 0.3631 - val_accuracy: 0.8567
Epoch 31/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3637 - accuracy: 0.8561 - val_loss: 0.3621 - val_accuracy: 0.8517
Epoch 32/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3605 - accuracy: 0.8577 - val_loss: 0.3612 - val_accuracy: 0.8571
Epoch 33/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3641 - accuracy: 0.8546 - val_loss: 0.3614 - val_accuracy: 0.8517
Epoch 34/100
560/560 [==============================] - 3s 5ms/step - loss: 0.3612 - accuracy: 0.8566 - val_loss: 0.3615 - val_accuracy: 0.8562
Epoch 35/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3616 - accuracy: 0.8559 - val_loss: 0.3606 - val_accuracy: 0.8550
Epoch 36/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3676 - accuracy: 0.8557 - val_loss: 0.3607 - val_accuracy: 0.8579
Epoch 37/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3593 - accuracy: 0.8605 - val_loss: 0.3603 - val_accuracy: 0.8571
Epoch 38/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3632 - accuracy: 0.8571 - val_loss: 0.3583 - val_accuracy: 0.8533
Epoch 39/100
560/560 [==============================] - 3s 5ms/step - loss: 0.3671 - accuracy: 0.8548 - val_loss: 0.3618 - val_accuracy: 0.8537
Epoch 40/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3667 - accuracy: 0.8536 - val_loss: 0.3631 - val_accuracy: 0.8521
Epoch 41/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3643 - accuracy: 0.8527 - val_loss: 0.3593 - val_accuracy: 0.8554
Epoch 42/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3623 - accuracy: 0.8561 - val_loss: 0.3580 - val_accuracy: 0.8579
Epoch 43/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3657 - accuracy: 0.8557 - val_loss: 0.3581 - val_accuracy: 0.8575
Epoch 44/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3605 - accuracy: 0.8521 - val_loss: 0.3576 - val_accuracy: 0.8562
Epoch 45/100
560/560 [==============================] - 3s 5ms/step - loss: 0.3601 - accuracy: 0.8566 - val_loss: 0.3588 - val_accuracy: 0.8562
Epoch 46/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3633 - accuracy: 0.8557 - val_loss: 0.3585 - val_accuracy: 0.8562
Epoch 47/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3645 - accuracy: 0.8537 - val_loss: 0.3623 - val_accuracy: 0.8575
Epoch 48/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3583 - accuracy: 0.8587 - val_loss: 0.3587 - val_accuracy: 0.8562
Epoch 49/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3622 - accuracy: 0.8568 - val_loss: 0.3611 - val_accuracy: 0.8583
Epoch 50/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3643 - accuracy: 0.8562 - val_loss: 0.3632 - val_accuracy: 0.8583
Epoch 51/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3600 - accuracy: 0.8554 - val_loss: 0.3584 - val_accuracy: 0.8567
Epoch 52/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3608 - accuracy: 0.8575 - val_loss: 0.3585 - val_accuracy: 0.8612
Epoch 53/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3568 - accuracy: 0.8579 - val_loss: 0.3579 - val_accuracy: 0.8575
Epoch 54/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3659 - accuracy: 0.8555 - val_loss: 0.3586 - val_accuracy: 0.8612
Epoch 55/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3616 - accuracy: 0.8552 - val_loss: 0.3582 - val_accuracy: 0.8579
Epoch 56/100
560/560 [==============================] - 3s 5ms/step - loss: 0.3639 - accuracy: 0.8586 - val_loss: 0.3576 - val_accuracy: 0.8587
Epoch 57/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3597 - accuracy: 0.8596 - val_loss: 0.3596 - val_accuracy: 0.8592
Epoch 58/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3605 - accuracy: 0.8566 - val_loss: 0.3600 - val_accuracy: 0.8612
Epoch 59/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3607 - accuracy: 0.8596 - val_loss: 0.3557 - val_accuracy: 0.8608
Epoch 60/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3635 - accuracy: 0.8570 - val_loss: 0.3586 - val_accuracy: 0.8600
Epoch 61/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3543 - accuracy: 0.8600 - val_loss: 0.3567 - val_accuracy: 0.8567
Epoch 62/100
560/560 [==============================] - 3s 5ms/step - loss: 0.3589 - accuracy: 0.8586 - val_loss: 0.3580 - val_accuracy: 0.8571
Epoch 63/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3619 - accuracy: 0.8555 - val_loss: 0.3571 - val_accuracy: 0.8583
Epoch 64/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3581 - accuracy: 0.8589 - val_loss: 0.3565 - val_accuracy: 0.8571
Epoch 65/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3545 - accuracy: 0.8577 - val_loss: 0.3564 - val_accuracy: 0.8612
Epoch 66/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3544 - accuracy: 0.8598 - val_loss: 0.3572 - val_accuracy: 0.8600
Epoch 67/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3562 - accuracy: 0.8562 - val_loss: 0.3571 - val_accuracy: 0.8579
Epoch 68/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3590 - accuracy: 0.8561 - val_loss: 0.3565 - val_accuracy: 0.8596
Epoch 69/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3574 - accuracy: 0.8586 - val_loss: 0.3565 - val_accuracy: 0.8583
Epoch 70/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3617 - accuracy: 0.8566 - val_loss: 0.3578 - val_accuracy: 0.8596
Epoch 71/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3536 - accuracy: 0.8589 - val_loss: 0.3569 - val_accuracy: 0.8621
Epoch 72/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3594 - accuracy: 0.8586 - val_loss: 0.3569 - val_accuracy: 0.8571
Epoch 73/100
560/560 [==============================] - 3s 5ms/step - loss: 0.3555 - accuracy: 0.8587 - val_loss: 0.3577 - val_accuracy: 0.8612
Epoch 74/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3549 - accuracy: 0.8593 - val_loss: 0.3580 - val_accuracy: 0.8621
Epoch 75/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3633 - accuracy: 0.8554 - val_loss: 0.3579 - val_accuracy: 0.8604
Epoch 76/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3617 - accuracy: 0.8571 - val_loss: 0.3581 - val_accuracy: 0.8600
Epoch 77/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3565 - accuracy: 0.8596 - val_loss: 0.3545 - val_accuracy: 0.8633
Epoch 78/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3604 - accuracy: 0.8584 - val_loss: 0.3563 - val_accuracy: 0.8600
Epoch 79/100
560/560 [==============================] - 3s 5ms/step - loss: 0.3522 - accuracy: 0.8577 - val_loss: 0.3573 - val_accuracy: 0.8625
Epoch 80/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3546 - accuracy: 0.8593 - val_loss: 0.3542 - val_accuracy: 0.8617
Epoch 81/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3547 - accuracy: 0.8593 - val_loss: 0.3563 - val_accuracy: 0.8612
Epoch 82/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3561 - accuracy: 0.8600 - val_loss: 0.3545 - val_accuracy: 0.8604
Epoch 83/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3572 - accuracy: 0.8598 - val_loss: 0.3577 - val_accuracy: 0.8604
Epoch 84/100
560/560 [==============================] - 3s 5ms/step - loss: 0.3590 - accuracy: 0.8575 - val_loss: 0.3581 - val_accuracy: 0.8600
Epoch 85/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3577 - accuracy: 0.8589 - val_loss: 0.3566 - val_accuracy: 0.8625
Epoch 86/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3511 - accuracy: 0.8596 - val_loss: 0.3548 - val_accuracy: 0.8612
Epoch 87/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3599 - accuracy: 0.8564 - val_loss: 0.3545 - val_accuracy: 0.8612
Epoch 88/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3568 - accuracy: 0.8562 - val_loss: 0.3538 - val_accuracy: 0.8633
Epoch 89/100
560/560 [==============================] - 3s 5ms/step - loss: 0.3550 - accuracy: 0.8627 - val_loss: 0.3560 - val_accuracy: 0.8625
Epoch 90/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3549 - accuracy: 0.8584 - val_loss: 0.3531 - val_accuracy: 0.8608
Epoch 91/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3529 - accuracy: 0.8596 - val_loss: 0.3543 - val_accuracy: 0.8612
Epoch 92/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3524 - accuracy: 0.8611 - val_loss: 0.3554 - val_accuracy: 0.8646
Epoch 93/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3587 - accuracy: 0.8580 - val_loss: 0.3546 - val_accuracy: 0.8604
Epoch 94/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3604 - accuracy: 0.8570 - val_loss: 0.3538 - val_accuracy: 0.8637
Epoch 95/100
560/560 [==============================] - 3s 5ms/step - loss: 0.3510 - accuracy: 0.8611 - val_loss: 0.3553 - val_accuracy: 0.8583
Epoch 96/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3537 - accuracy: 0.8579 - val_loss: 0.3541 - val_accuracy: 0.8604
Epoch 97/100
560/560 [==============================] - 2s 3ms/step - loss: 0.3617 - accuracy: 0.8564 - val_loss: 0.3550 - val_accuracy: 0.8600
Epoch 98/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3503 - accuracy: 0.8591 - val_loss: 0.3562 - val_accuracy: 0.8562
Epoch 99/100
560/560 [==============================] - 2s 4ms/step - loss: 0.3579 - accuracy: 0.8571 - val_loss: 0.3550 - val_accuracy: 0.8625
Epoch 100/100
560/560 [==============================] - 3s 4ms/step - loss: 0.3502 - accuracy: 0.8609 - val_loss: 0.3588 - val_accuracy: 0.8600

In [ ]:
y_pred = model.predict(x_test)
y_pred = (y_pred>0.5)

63/63 [==============================] - 0s 1ms/step

In [ ]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_pred , y_test)
cm

array([[1526,  206],
       [  69,  199]])

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred , y_test)

0.8625

In [ ]:
## HyperParameter Tunning

In [ ]:
def build_up(hp):
  counter = 0
  model = Sequential()
  for i in range(hp.Int('layer_no' , min_value = 1 ,max_value = 10)):
    if counter ==0:
      model.add(Dense(hp.Int('units' + str(i), min_value = 8 , max_value = 128 , step =16),
                      activation = hp.Choice('activation'+str(i), values = ['relu','tanh','sigmoid','elu','LeakyReLU']),
                      kernel_initializer=hp.Choice('ki'+str(i),values = ['glorot_normal','glorot_uniform','he_uniform','he_normal']),
                      input_dim =11))
      model.add(Dropout(hp.Choice('dropout'+str(i) , values = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9])))
    else:
         model.add(Dense(hp.Int('units' + str(i), min_value = 8 , max_value = 128 , step =1),
                      activation = hp.Choice('activation'+str(i), values = ['relu','tanh','sigmoid','elu','LeakyReLU']),
                      kernel_initializer=hp.Choice('ki'+str(i),values = ['glorot_normal','glorot_uniform','he_uniform','he_normal'])))
         model.add(Dropout(hp.Choice('dropout'+str(i) , values = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9])))
  model.add(Dense(1,activation = 'sigmoid'))
  model.compile(optimizer=hp.Choice('optimizer',values = ['adam','rmsprop','adadelta']),loss = 'binary_crossentropy',metrics = ['accuracy'])
  return model

In [ ]:
pip install keras_tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: keras_tuner in /usr/local/lib/python3.10/dist-packages (1.3.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras_tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras_tuner) (2.27.1)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.10/dist-packages (from keras_tuner) (1.0.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (3.4)

In [ ]:
import keras_tuner as kt

In [ ]:
tuner = kt.RandomSearch(build_up , objective ='val_accuracy',max_trials = 5 , directory = 'mydir',project_name ='customer_churn')

In [ ]:
tuner.search(x_train,y_train , epochs =5 , validation_split =0.3)

In [ ]:
tuner.get_best_hyperparameters()[0].values

{'layer_no': 7,
 'units0': 114,
 'activation0': 'LeakyReLU',
 'ki0': 'glorot_normal',
 'optimizer': 'adam',
 'units1': 83,
 'activation1': 'elu',
 'ki1': 'glorot_uniform',
 'units2': 16,
 'activation2': 'relu',
 'ki2': 'glorot_normal',
 'units3': 67,
 'activation3': 'sigmoid',
 'ki3': 'glorot_uniform',
 'units4': 124,
 'activation4': 'elu',
 'ki4': 'glorot_normal',
 'units5': 80,
 'activation5': 'relu',
 'ki5': 'glorot_normal',
 'units6': 96,
 'activation6': 'sigmoid',
 'ki6': 'he_normal',
 'units7': 38,
 'activation7': 'elu',
 'ki7': 'he_normal'}

In [ ]:
models = tuner.get_best_models(num_models=1)[0]

WARNING:tensorflow:Inconsistent references when loading the checkpoint into this object graph. For example, in the saved checkpoint object, `model.layer.weight` and `model.layer_copy.weight` reference the same variable, while in the current object these are two different variables. The referenced variables are:(<keras.layers.core.dense.Dense object at 0x7ff91a2fa7d0> and <keras.layers.regularization.dropout.Dropout object at 0x7ff919452f80>).
WARNING:tensorflow:Inconsistent references when loading the checkpoint into this object graph. For example, in the saved checkpoint object, `model.layer.weight` and `model.layer_copy.weight` reference the same variable, while in the current object these are two different variables. The referenced variables are:(<keras.layers.core.dense.Dense object at 0x7ff91025b940> and <keras.layers.core.dense.Dense object at 0x7ff91a2fa7d0>).
WARNING:tensorflow:Inconsistent references when loading the checkpoint into this object graph. For example, in the saved checkpoint object, `model.layer.weight` and `model.layer_copy.weight` reference the same variable, while in the current object these are two different variables. The referenced variables are:(<keras.layers.core.dense.Dense object at 0x7ff910280730> and <keras.layers.regularization.dropout.Dropout object at 0x7ff91022ab90>).
WARNING:tensorflow:Inconsistent references when loading the checkpoint into this object graph. For example, in the saved checkpoint object, `model.layer.weight` and `model.layer_copy.weight` reference the same variable, while in the current object these are two different variables. The referenced variables are:(<keras.layers.core.dense.Dense object at 0x7ff9102ab1c0> and <keras.layers.core.dense.Dense object at 0x7ff91025b940>).
WARNING:tensorflow:Inconsistent references when loading the checkpoint into this object graph. For example, in the saved checkpoint object, `model.layer.weight` and `model.layer_copy.weight` reference the same variable, while in the current object these are two different variables. The referenced variables are:(<keras.layers.core.dense.Dense object at 0x7ff9103d7340> and <keras.layers.regularization.dropout.Dropout object at 0x7ff91039a5c0>).
WARNING:tensorflow:Inconsistent references when loading the checkpoint into this object graph. For example, in the saved checkpoint object, `model.layer.weight` and `model.layer_copy.weight` reference the same variable, while in the current object these are two different variables. The referenced variables are:(<keras.layers.core.dense.Dense object at 0x7ff9103d72b0> and <keras.layers.core.dense.Dense object at 0x7ff910280730>).
WARNING:tensorflow:Inconsistent references when loading the checkpoint into this object graph. For example, in the saved checkpoint object, `model.layer.weight` and `model.layer_copy.weight` reference the same variable, while in the current object these are two different variables. The referenced variables are:(<keras.layers.core.dense.Dense object at 0x7ff91010b0d0> and <keras.layers.regularization.dropout.Dropout object at 0x7ff910281c00>).

In [ ]:
models.fit(x_train,y_train , validation_split =0.3 , batch_size =30 , epochs =100 )

Epoch 1/100
187/187 [==============================] - 6s 7ms/step - loss: 0.3675 - accuracy: 0.8452 - val_loss: 0.3526 - val_accuracy: 0.8546
Epoch 2/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3569 - accuracy: 0.8495 - val_loss: 0.3566 - val_accuracy: 0.8587
Epoch 3/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3529 - accuracy: 0.8546 - val_loss: 0.3561 - val_accuracy: 0.8575
Epoch 4/100
187/187 [==============================] - 1s 7ms/step - loss: 0.3455 - accuracy: 0.8600 - val_loss: 0.3677 - val_accuracy: 0.8483
Epoch 5/100
187/187 [==============================] - 1s 8ms/step - loss: 0.3508 - accuracy: 0.8568 - val_loss: 0.3638 - val_accuracy: 0.8587
Epoch 6/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3521 - accuracy: 0.8545 - val_loss: 0.3549 - val_accuracy: 0.8529
Epoch 7/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3464 - accuracy: 0.8550 - val_loss: 0.3546 - val_accuracy: 0.8592
Epoch 8/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3459 - accuracy: 0.8587 - val_loss: 0.3592 - val_accuracy: 0.8546
Epoch 9/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3434 - accuracy: 0.8552 - val_loss: 0.3608 - val_accuracy: 0.8492
Epoch 10/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3419 - accuracy: 0.8584 - val_loss: 0.3617 - val_accuracy: 0.8475
Epoch 11/100
187/187 [==============================] - 1s 7ms/step - loss: 0.3399 - accuracy: 0.8602 - val_loss: 0.3598 - val_accuracy: 0.8471
Epoch 12/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3432 - accuracy: 0.8593 - val_loss: 0.3612 - val_accuracy: 0.8517
Epoch 13/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3380 - accuracy: 0.8637 - val_loss: 0.3569 - val_accuracy: 0.8521
Epoch 14/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3366 - accuracy: 0.8602 - val_loss: 0.3628 - val_accuracy: 0.8529
Epoch 15/100
187/187 [==============================] - 2s 8ms/step - loss: 0.3368 - accuracy: 0.8620 - val_loss: 0.3632 - val_accuracy: 0.8558
Epoch 16/100
187/187 [==============================] - 1s 7ms/step - loss: 0.3400 - accuracy: 0.8671 - val_loss: 0.3548 - val_accuracy: 0.8587
Epoch 17/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3329 - accuracy: 0.8614 - val_loss: 0.3583 - val_accuracy: 0.8571
Epoch 18/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3357 - accuracy: 0.8596 - val_loss: 0.3608 - val_accuracy: 0.8612
Epoch 19/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3316 - accuracy: 0.8605 - val_loss: 0.3647 - val_accuracy: 0.8525
Epoch 20/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3338 - accuracy: 0.8636 - val_loss: 0.3636 - val_accuracy: 0.8479
Epoch 21/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3286 - accuracy: 0.8675 - val_loss: 0.3557 - val_accuracy: 0.8550
Epoch 22/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3337 - accuracy: 0.8616 - val_loss: 0.3582 - val_accuracy: 0.8533
Epoch 23/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3348 - accuracy: 0.8604 - val_loss: 0.3535 - val_accuracy: 0.8542
Epoch 24/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3334 - accuracy: 0.8643 - val_loss: 0.3544 - val_accuracy: 0.8558
Epoch 25/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3323 - accuracy: 0.8612 - val_loss: 0.3636 - val_accuracy: 0.8462
Epoch 26/100
187/187 [==============================] - 2s 8ms/step - loss: 0.3327 - accuracy: 0.8621 - val_loss: 0.3576 - val_accuracy: 0.8525
Epoch 27/100
187/187 [==============================] - 1s 7ms/step - loss: 0.3281 - accuracy: 0.8648 - val_loss: 0.3585 - val_accuracy: 0.8537
Epoch 28/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3249 - accuracy: 0.8684 - val_loss: 0.3669 - val_accuracy: 0.8562
Epoch 29/100
187/187 [==============================] - 1s 7ms/step - loss: 0.3316 - accuracy: 0.8657 - val_loss: 0.3650 - val_accuracy: 0.8558
Epoch 30/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3237 - accuracy: 0.8675 - val_loss: 0.3610 - val_accuracy: 0.8575
Epoch 31/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3261 - accuracy: 0.8664 - val_loss: 0.3629 - val_accuracy: 0.8533
Epoch 32/100
187/187 [==============================] - 1s 7ms/step - loss: 0.3255 - accuracy: 0.8616 - val_loss: 0.3627 - val_accuracy: 0.8592
Epoch 33/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3246 - accuracy: 0.8661 - val_loss: 0.3623 - val_accuracy: 0.8587
Epoch 34/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3280 - accuracy: 0.8655 - val_loss: 0.3543 - val_accuracy: 0.8517
Epoch 35/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3294 - accuracy: 0.8632 - val_loss: 0.3549 - val_accuracy: 0.8592
Epoch 36/100
187/187 [==============================] - 1s 7ms/step - loss: 0.3242 - accuracy: 0.8654 - val_loss: 0.3598 - val_accuracy: 0.8567
Epoch 37/100
187/187 [==============================] - 2s 8ms/step - loss: 0.3261 - accuracy: 0.8670 - val_loss: 0.3621 - val_accuracy: 0.8533
Epoch 38/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3236 - accuracy: 0.8659 - val_loss: 0.3639 - val_accuracy: 0.8508
Epoch 39/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3247 - accuracy: 0.8668 - val_loss: 0.3580 - val_accuracy: 0.8554
Epoch 40/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3249 - accuracy: 0.8673 - val_loss: 0.3627 - val_accuracy: 0.8558
Epoch 41/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3228 - accuracy: 0.8684 - val_loss: 0.3622 - val_accuracy: 0.8550
Epoch 42/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3223 - accuracy: 0.8666 - val_loss: 0.3633 - val_accuracy: 0.8579
Epoch 43/100
187/187 [==============================] - 1s 7ms/step - loss: 0.3211 - accuracy: 0.8679 - val_loss: 0.3589 - val_accuracy: 0.8496
Epoch 44/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3232 - accuracy: 0.8655 - val_loss: 0.3626 - val_accuracy: 0.8600
Epoch 45/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3252 - accuracy: 0.8662 - val_loss: 0.3616 - val_accuracy: 0.8508
Epoch 46/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3193 - accuracy: 0.8695 - val_loss: 0.3594 - val_accuracy: 0.8575
Epoch 47/100
187/187 [==============================] - 1s 8ms/step - loss: 0.3235 - accuracy: 0.8623 - val_loss: 0.3626 - val_accuracy: 0.8579
Epoch 48/100
187/187 [==============================] - 2s 8ms/step - loss: 0.3241 - accuracy: 0.8664 - val_loss: 0.3598 - val_accuracy: 0.8554
Epoch 49/100
187/187 [==============================] - 2s 8ms/step - loss: 0.3182 - accuracy: 0.8686 - val_loss: 0.3644 - val_accuracy: 0.8571
Epoch 50/100
187/187 [==============================] - 1s 7ms/step - loss: 0.3236 - accuracy: 0.8661 - val_loss: 0.3610 - val_accuracy: 0.8537
Epoch 51/100
187/187 [==============================] - 1s 7ms/step - loss: 0.3184 - accuracy: 0.8709 - val_loss: 0.3715 - val_accuracy: 0.8550
Epoch 52/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3190 - accuracy: 0.8684 - val_loss: 0.3630 - val_accuracy: 0.8533
Epoch 53/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3184 - accuracy: 0.8682 - val_loss: 0.3635 - val_accuracy: 0.8567
Epoch 54/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3176 - accuracy: 0.8675 - val_loss: 0.3685 - val_accuracy: 0.8558
Epoch 55/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3200 - accuracy: 0.8637 - val_loss: 0.3595 - val_accuracy: 0.8512
Epoch 56/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3159 - accuracy: 0.8725 - val_loss: 0.3717 - val_accuracy: 0.8546
Epoch 57/100
187/187 [==============================] - 2s 9ms/step - loss: 0.3167 - accuracy: 0.8712 - val_loss: 0.3600 - val_accuracy: 0.8562
Epoch 58/100
187/187 [==============================] - 1s 7ms/step - loss: 0.3199 - accuracy: 0.8691 - val_loss: 0.3656 - val_accuracy: 0.8479
Epoch 59/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3170 - accuracy: 0.8698 - val_loss: 0.3743 - val_accuracy: 0.8508
Epoch 60/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3174 - accuracy: 0.8704 - val_loss: 0.3596 - val_accuracy: 0.8567
Epoch 61/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3128 - accuracy: 0.8698 - val_loss: 0.3681 - val_accuracy: 0.8533
Epoch 62/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3128 - accuracy: 0.8732 - val_loss: 0.3665 - val_accuracy: 0.8525
Epoch 63/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3166 - accuracy: 0.8677 - val_loss: 0.3695 - val_accuracy: 0.8529
Epoch 64/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3135 - accuracy: 0.8687 - val_loss: 0.3608 - val_accuracy: 0.8604
Epoch 65/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3095 - accuracy: 0.8734 - val_loss: 0.3745 - val_accuracy: 0.8592
Epoch 66/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3209 - accuracy: 0.8687 - val_loss: 0.3606 - val_accuracy: 0.8525
Epoch 67/100
187/187 [==============================] - 1s 8ms/step - loss: 0.3155 - accuracy: 0.8721 - val_loss: 0.3587 - val_accuracy: 0.8533
Epoch 68/100
187/187 [==============================] - 2s 8ms/step - loss: 0.3120 - accuracy: 0.8737 - val_loss: 0.3613 - val_accuracy: 0.8554
Epoch 69/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3119 - accuracy: 0.8739 - val_loss: 0.3759 - val_accuracy: 0.8537
Epoch 70/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3150 - accuracy: 0.8700 - val_loss: 0.3666 - val_accuracy: 0.8500
Epoch 71/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3110 - accuracy: 0.8711 - val_loss: 0.3652 - val_accuracy: 0.8517
Epoch 72/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3109 - accuracy: 0.8725 - val_loss: 0.3690 - val_accuracy: 0.8537
Epoch 73/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3119 - accuracy: 0.8723 - val_loss: 0.3698 - val_accuracy: 0.8525
Epoch 74/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3169 - accuracy: 0.8691 - val_loss: 0.3632 - val_accuracy: 0.8533
Epoch 75/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3105 - accuracy: 0.8729 - val_loss: 0.3648 - val_accuracy: 0.8558
Epoch 76/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3099 - accuracy: 0.8761 - val_loss: 0.3702 - val_accuracy: 0.8504
Epoch 77/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3140 - accuracy: 0.8711 - val_loss: 0.3669 - val_accuracy: 0.8546
Epoch 78/100
187/187 [==============================] - 1s 8ms/step - loss: 0.3100 - accuracy: 0.8746 - val_loss: 0.3696 - val_accuracy: 0.8546
Epoch 79/100
187/187 [==============================] - 1s 7ms/step - loss: 0.3113 - accuracy: 0.8702 - val_loss: 0.3701 - val_accuracy: 0.8558
Epoch 80/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3113 - accuracy: 0.8736 - val_loss: 0.3611 - val_accuracy: 0.8542
Epoch 81/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3134 - accuracy: 0.8712 - val_loss: 0.3639 - val_accuracy: 0.8508
Epoch 82/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3127 - accuracy: 0.8732 - val_loss: 0.3678 - val_accuracy: 0.8525
Epoch 83/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3072 - accuracy: 0.8736 - val_loss: 0.3651 - val_accuracy: 0.8537
Epoch 84/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3111 - accuracy: 0.8702 - val_loss: 0.3678 - val_accuracy: 0.8483
Epoch 85/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3042 - accuracy: 0.8736 - val_loss: 0.3724 - val_accuracy: 0.8542
Epoch 86/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3053 - accuracy: 0.8741 - val_loss: 0.3671 - val_accuracy: 0.8554
Epoch 87/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3056 - accuracy: 0.8750 - val_loss: 0.3712 - val_accuracy: 0.8525
Epoch 88/100
187/187 [==============================] - 1s 7ms/step - loss: 0.3052 - accuracy: 0.8732 - val_loss: 0.3615 - val_accuracy: 0.8483
Epoch 89/100
187/187 [==============================] - 2s 8ms/step - loss: 0.3087 - accuracy: 0.8750 - val_loss: 0.3696 - val_accuracy: 0.8517
Epoch 90/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3022 - accuracy: 0.8720 - val_loss: 0.3751 - val_accuracy: 0.8512
Epoch 91/100
187/187 [==============================] - 1s 7ms/step - loss: 0.3062 - accuracy: 0.8695 - val_loss: 0.3731 - val_accuracy: 0.8496
Epoch 92/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3060 - accuracy: 0.8727 - val_loss: 0.3608 - val_accuracy: 0.8558
Epoch 93/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3017 - accuracy: 0.8737 - val_loss: 0.3748 - val_accuracy: 0.8517
Epoch 94/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3051 - accuracy: 0.8727 - val_loss: 0.3742 - val_accuracy: 0.8525
Epoch 95/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3048 - accuracy: 0.8746 - val_loss: 0.3638 - val_accuracy: 0.8525
Epoch 96/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3067 - accuracy: 0.8746 - val_loss: 0.3652 - val_accuracy: 0.8508
Epoch 97/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3082 - accuracy: 0.8732 - val_loss: 0.3642 - val_accuracy: 0.8521
Epoch 98/100
187/187 [==============================] - 1s 6ms/step - loss: 0.3046 - accuracy: 0.8770 - val_loss: 0.3696 - val_accuracy: 0.8525
Epoch 99/100
187/187 [==============================] - 2s 8ms/step - loss: 0.3035 - accuracy: 0.8745 - val_loss: 0.3839 - val_accuracy: 0.8483
Epoch 100/100
187/187 [==============================] - 1s 7ms/step - loss: 0.3047 - accuracy: 0.8763 - val_loss: 0.3741 - val_accuracy: 0.8517

In [ ]:
y_fpred = models.predict(x_test)

63/63 [==============================] - 0s 2ms/step

In [ ]:
y_fpred = (y_pred>0.5)

In [ ]:
y_fpred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [ ]:
cm1 = confusion_matrix(y_fpred , y_test)

In [ ]:
cm1

array([[1526,  206],
       [  69,  199]])

In [ ]:
accuracy_score(y_fpred , y_test)

0.8625